* {
    outline: solid 5px black;
}

header {
    text-align: center;
    
}

.instructions {
    margin-top: 5%; margin-bottom: 5%;
    outline:solid 5px cadetblue;
}

.testimonials {
    margin-top: 5%; margin-bottom: 5%;
    outline:solid 5px chartreuse;
}

.outerBox {
    /* max-width: 100%; height: auto; */
    padding: 3%;
    margin-bottom: 30px;
    outline:solid 5px red;
}

h3 {

}

.innerBox {
    /* padding: 20%, 50%, 20%, 50%; */
    padding-top: 4%; padding-bottom: 4%;
    text-align: center;
    outline:solid 5px blue;
}

button {
    background-color: red;
    text-align: center;
}

#button {
    text-align: center;
}

input {
    padding-top: 5%; padding-bottom: 5%;    
}